nav {
  background-color: #25559c; /* Green */
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav li {
  padding: 10px;
}

nav a {
  color: white;
  text-decoration: none;
}

nav a:hover {
  color: #c1ee8f; /* Light green */
}
